body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eeeeee !important;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .topnav {
    
    background: linear-gradient(to right, #006be6, #334bff);;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-inline: 40px;
  }

  .topnav a:hover {
    background-color: #6ba1d6;
    border-radius: 20%;
  }

  .topnav .active {
    background-color: #6ba1d6;
    border-radius: 20%;
  }

  .drop a {   
    padding: 6px;
    margin-inline: 0px;
  }

  .drop a:hover {   
    border-radius: 10%;
  }

.pubArray {
  margin-top: 120px !important;
  margin-bottom: 20px !important;
  background-color:white;
  border-radius: 2%;
}

.pubArray table{
  margin-left: 20px;
  margin-left: 10px ;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0px !important ;
}

.space {
  padding: 0 !important;
  line-height: 1em;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6ba1d6; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border-width: 1em;
  border-color: white;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.homeTitle {
  background-color: #006be651;
  padding: 5;
}

.homeNews {
  background: linear-gradient(to right, #334bff, #307ed7);;
  height: 110px;
}
